.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title{
        margin-top: 3em;
    }

}
.form {
    width: 50%;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
}