<p-menubar>
  <ng-template #end>
    <div class="flex items-center gap-2">
      <div class="text-sm font-extrabold">
        Modo noturno:
      </div>
      <div style="padding-top: 5px;">
        <p-toggleswitch [(ngModel)]="changeThemeValue" (onChange)="changeTheme()" />
      </div>
    </div>
  </ng-template>
</p-menubar>

<div class="main">
  <div class="heading">
    <h1 class="title mb-4 text-4xl font-extrabold leading-none tracking-tight">Crie um orçamento rapido e facil!</h1>
  </div>
  <div class="form">
    <app-form></app-form>
  </div>
</div>