<form [formGroup]="quoteForm">
    <div class="flex flex-wrap gap-4 mt-4">
        <div class="flex-auto">
            <span class="block mb-2">Informe seu nome</span>
            <input [fluid]="true" type="text" pInputText id="name" formControlName="name" placeholder="Digite seu nome"
                class="w-full" />
            <small *ngIf="quoteForm.controls['name'].invalid && quoteForm.controls['name'].touched"
                class="text-red-500">
                Nome é obrigatório.
            </small>
        </div>

        <div class="flex-auto">
            <span class="block mb-2">Informe seu email</span>
            <input [fluid]="true" type="email" pInputText id="email" formControlName="email"
                placeholder="Digite seu e-mail" class="w-full" />
            <small *ngIf="quoteForm.controls['email'].invalid && quoteForm.controls['email'].touched"
                class="text-red-500">
                E-mail inválido.
            </small>
        </div>
        <div class="flex-auto">
            <span class="block mb-2">Telefone</span>
            <p-inputmask mask="(99) 99999-9999" formControlName="phone" placeholder="(00) 00000-0000" />
        </div>
    </div>
    <div class="flex flex-wrap gap-4 mt-4">

        <div class="flex-auto">
            <span class="block mb-2">Informe o contratante</span>
            <input [fluid]="true" type="text" pInputText id="customer" formControlName="customer"
                placeholder="Digite seu nome" class="w-full" />
            <small *ngIf="quoteForm.controls['customer'].invalid && quoteForm.controls['customer'].touched"
                class="text-red-500">
                Contratante obrigatório
            </small>
        </div>

        <div class="flex-auto">
            <span class="block mb-2">Serviço</span>
            <input [fluid]="true" pInputText id="service" formControlName="service"
                placeholder="Digite o serviço prestado" class="w-full" />
        </div>
    </div>

    <div class="flex flex-wrap gap-4 mt-4">
        <div class="flex-auto">
            <span class="block mb-2">Descrição do serviço</span>
            <p-editor formControlName="description" [style]="{ height: '320px' }">
                <ng-template #header>
                    <select class="ql-font">
                    </select>
                    <select class="ql-size">
                    </select>
                    <span class="ql-formats">
                        <button type="button" class="ql-heading" aria-label="Heading"></button>
                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                    </span>
                </ng-template>
            </p-editor>
            <small *ngIf="quoteForm.controls['description'].invalid && quoteForm.controls['description'].touched"
                class="text-red-500">
                A descrição deve ter pelo menos 10 caracteres.
            </small>
        </div>
    </div>
    <div class="flex flex-wrap gap-4 mt-4">
        <div class="flex-auto">
            <span class="block mb-2">Valor estimado</span>
            <p-inputNumber [fluid]="true" id="estimatedValue" formControlName="estimatedValue" mode="currency"
                currency="BRL" locale="pt-BR" class="w-full" />
            <small *ngIf="quoteForm.controls['estimatedValue'].invalid && quoteForm.controls['estimatedValue'].touched"
                class="text-red-500">
                Informe um valor estimado.
            </small>
        </div>
        <div class="flex-auto">
            <span class="block mb-2">Observações (Se houver)</span>
            <input [fluid]="true" type="text" pInputText id="complement" formControlName="complement" class="w-full" />
        </div>
    </div>

    <div class="col-12 text-end mt-4">
        <p-button label="Emitir Orçamento" icon="pi pi-check" class="p-button-success" [disabled]="generatingQuote"
            (onClick)="submitForm()"></p-button>
    </div>
</form>

<p-toast />

@if (generatingQuote) {
<app-loading-full-screen [message]="'Gerando orçamento...'"></app-loading-full-screen>
<app-ads></app-ads>
}